
/* NAVBAR */
.navbar {
  background-color: #2B3823;
}

/* HOME */
.carousel-item img {
  height: 500px;
  width:100%;
  object-fit: cover;
  text-align: center;
}

/* CONTACT */
.view {
  min-height: calc(100vh - 112px);
}

li a{
  text-decoration: none;
  color: inherit;
}

/* FOOTER */

footer{
  background-color: #2B3823;
  color: white;

}